<footer>
  {{ site.footer }}
  <marquee scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" id="webring_marquee">
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/decentralize.png"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/digdeeper.png"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/paranoid.gif"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/protonmail.png"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/shadow-wiki.png"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/sizeofcat.png"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/yesterweb.png"></a>
  </marquee>
</footer>
