<div class="NeofetchOutputContainer">
    <div class="NeofetchList">
        <li><Cyan>0x7C2f</Cyan>@<Cyan>Laptop</Cyan></li>
        <li>-----------------</li>
        <li><Cyan>OS</Cyan>: Arch Linux</li>
        <li><Cyan>Host</Cyan>: ThinkPad P51s</li>
        <li><Cyan>Packages</Cyan>: 756 (pacman)</li>
        <li><Cyan>Shell</Cyan>: bash</li>
        <li><Cyan>Resolution</Cyan>: 1920x1080</li>
        <li><Cyan>Terminal</Cyan>: vscodium</li>
        <li><Cyan>CPU</Cyan>: Intel i7-7500U (4) @ 3.5GHz</li>
        <li><Cyan>Memory</Cyan>: 1993MiB / 7890MiB</li>
    </div>
</div>