---
layout: default
---
{% raw %}
<table class="badges-table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Badges</th>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Operating Systems</strong></td>
      <td>
        <img src="https://badgen.net/badge/Operating%20Systems/Arch%20Linux/blue?icon=terminal" alt="Arch Linux">
        <img src="https://badgen.net/badge/Operating%20Systems/Mac%20OS%20X/blue?icon=apple" alt="Mac OS X">
        <img src="https://badgen.net/badge/Operating%20Systems/Windows/green?icon=windows" alt="Windows">
        <img src="https://badgen.net/badge/Operating%20Systems/CentOS/red?icon=terminal" alt="CentOS">
        <img src="https://badgen.net/badge/Operating%20Systems/Ubuntu/orange?icon=terminal" alt="Ubuntu">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Version Control</strong></td>
      <td>
        <img src="https://badgen.net/badge/Version%20Control/Git/yellow?icon=git" alt="Git">
        <img src="https://badgen.net/badge/Version%20Control/GitHub/blue?icon=github" alt="GitHub">
        <img src="https://badgen.net/badge/Version%20Control/GitLab/red?icon=gitlab" alt="GitLab">
        <img src="https://badgen.net/badge/Version%20Control/Sourcehut/purple?icon=sourcehut" alt="Sourcehut">
        <img src="https://badgen.net/badge/Version%20Control/Bitbucket/yellow?icon=git" alt="Bitbucket">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Networking</strong></td>
      <td>
        <img src="https://badgen.net/badge/Networking/Ubiquiti/blue?icon=wifi" alt="Ubiquiti">
        <img src="https://badgen.net/badge/Networking/Meraki/green?icon=wifi" alt="Meraki">
        <img src="https://badgen.net/badge/Networking/SonicWall/red?icon=wifi" alt="SonicWall">
        <img src="https://badgen.net/badge/Networking/Cisco/lightgrey?icon=wifi" alt="Cisco">
        <img src="https://badgen.net/badge/Networking/Fortinet/purple?icon=wifi" alt="Fortinet">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Virtualization And Cloud</strong></td>
      <td>
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/VMware/blue?icon=vmware" alt="VMware">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/VirtualBox/green?icon=virtualbox" alt="VirtualBox">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/Hyper-V/red?icon=hyper-v" alt="Hyper-V">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/AWS%20S3/yellow?icon=aws" alt="AWS S3">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/cPanel/purple?icon=server" alt="cPanel">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/Google%20Cloud%20Platform/lightgrey?icon=gcp" alt="Google Cloud Platform">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/Microsoft%20Azure/orange?icon=azure" alt="Microsoft Azure">
        <img src="https://badgen.net/badge/Virtualization%20And%20Cloud/Docker/blue?icon=docker" alt="Docker">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Development</strong></td>
      <td>
        <img src="https://badgen.net/badge/Development/Java/blue?icon=java" alt="Java">
        <img src="https://badgen.net/badge/Development/MySQL/green?icon=mysql" alt="MySQL">
        <img src="https://badgen.net/badge/Development/SQLite/red?icon=sqlite" alt="SQLite">
        <img src="https://badgen.net/badge/Development/PostgreSQL/yellow?icon=postgresql" alt="PostgreSQL">
        <img src="https://badgen.net/badge/Development/Python/orange?icon=python" alt="Python">
        <img src="https://badgen.net/badge/Development/OpenJDK/lightgrey?icon=java" alt="OpenJDK">
        <img src="https://badgen.net/badge/Development/BlueJ/blue?icon=java" alt="BlueJ">
        <img src="https://badgen.net/badge/Development/PowerShell/green?icon=powershell" alt="PowerShell">
        <img src="https://badgen.net/badge/Development/Bash/red?icon=gnu" alt="Bash">
        <img src="https://badgen.net/badge/Development/ZSH/yellow?icon=gnu" alt="ZSH">
        <img src="https://badgen.net/badge/Development/Swift/orange?icon=swift" alt="Swift">
        <img src="https://badgen.net/badge/Development/NodeJS/blue?icon=node.js" alt="NodeJS">
        <img src="https://badgen.net/badge/Development/JavaScript/green?icon=javascript" alt="JavaScript">
        <img src="https://badgen.net/badge/Development/Solidity/red?icon=solidity" alt="Solidity">
        <img src="https://badgen.net/badge/Development/HTML/yellow?icon=html5" alt="HTML">
        <img src="https://badgen.net/badge/Development/XML/purple?icon=xml" alt="XML">
        <img src="https://badgen.net/badge/Development/APIs/lightgrey?icon=api" alt="APIs">
        <img src="https://badgen.net/badge/Development/Bootstrap/blue?icon=bootstrap" alt="Bootstrap">
        <img src="https://badgen.net/badge/Development/Web3/green?icon=ethereum" alt="Web3">
        <img src="https://badgen.net/badge/Development/Jekyll/red?icon=jekyll" alt="Jekyll">
        <img src="https://badgen.net/badge/Development/React/yellow?icon=react" alt="React">
        <img src="https://badgen.net/badge/Development/Selenium/purple?icon=selenium" alt="Selenium">
        <img src="https://badgen.net/badge/Development/Ruby/blue?icon=ruby" alt="Ruby">
        <img src="https://badgen.net/badge/Development/Rust/green?icon=rust" alt="Rust">
        <img src="https://badgen.net/badge/Development/Kotlin/red?icon=kotlin" alt="Kotlin">
        <img src="https://badgen.net/badge/Development/Flask/yellow?icon=flask" alt="Flask">
        <img src="https://badgen.net/badge/Development/TypeScript/blue?icon=typescript" alt="TypeScript">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Applications And Tools</strong></td>
      <td>
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Excel/blue?icon=microsoftexcel" alt="Excel">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Word/green?icon=microsoftword" alt="Word">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/PowerPoint/red?icon=microsoftpowerpoint" alt="PowerPoint">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Outlook/yellow?icon=microsoftoutlook" alt="Outlook">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Teams/purple?icon=microsoftteams" alt="Teams">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Adobe%20Photoshop/lightgrey?icon=adobephotoshop" alt="Adobe Photoshop">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Salesforce/orange?icon=salesforce" alt="Salesforce">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/ServiceNow/blue?icon=servicenow" alt="ServiceNow">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/Zendesk/green?icon=zendesk" alt="Zendesk">
        <img src="https://badgen.net/badge/Applications%20And%20Tools/TeamViewer/red?icon=teamviewer" alt="TeamViewer">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Infrastructure And Storage</strong></td>
      <td>
        <img src="https://badgen.net/badge/Infrastructure%20And%20Storage/NetApp/blue?icon=netapp" alt="NetApp">
        <img src="https://badgen.net/badge/Infrastructure%20And%20Storage/EMC/green?icon=emc" alt="EMC">
        <img src="https://badgen.net/badge/Infrastructure%20And%20Storage/HPE%20ProLiant/red?icon=hp" alt="HPE ProLiant">
      </td>
    </tr>
  </tbody>
</table>
{% endraw %}
