---
layout: default
---
{% raw %}
<head>
    <h1 align="center">
        Knowledge Stack
    </h1>
</head>
<td colspan="2"><hr></td> <!-- Divider -->
<table class="badges-table">
  <tbody>
    <tr>
      <td><strong>Operating Systems</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/archlinux.svg" alt="Arch Linux">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/apple.svg" alt="Mac OS X">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/windows.svg" alt="Windows">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/centos.svg" alt="CentOS">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/ubuntu.svg" alt="Ubuntu">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Version Control</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/git.svg" alt="Git">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/github.svg" alt="GitHub">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/gitlab.svg" alt="GitLab">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/sourcehut.svg" alt="Sourcehut">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/bitbucket.svg" alt="Bitbucket">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Networking</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/ubiquiti.svg" alt="Ubiquiti">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/meraki.svg" alt="Meraki">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/sonicwall.svg" alt="SonicWall">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/cisco.svg" alt="Cisco">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/fortinet.svg" alt="Fortinet">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Virtualization And Cloud</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/vmware.svg" alt="VMware">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/virtualbox.svg" alt="VirtualBox">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/hyperv.svg" alt="Hyper-V">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/aws.svg" alt="AWS S3">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/cpanel.svg" alt="cPanel">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/googlecloud.svg" alt="Google Cloud Platform">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftazure.svg" alt="Microsoft Azure">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/docker.svg" alt="Docker">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Development</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/java.svg" alt="Java">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/mysql.svg" alt="MySQL">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/sqlite.svg" alt="SQLite">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/postgresql.svg" alt="PostgreSQL">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/python.svg" alt="Python">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/openjdk.svg" alt="OpenJDK">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/bluej.svg" alt="BlueJ">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/powershell.svg" alt="PowerShell">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/bash.svg" alt="Bash">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/zsh.svg" alt="ZSH">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/swift.svg" alt="Swift">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/node-dot-js.svg" alt="NodeJS">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/javascript.svg" alt="JavaScript">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/solidity.svg" alt="Solidity">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/html5.svg" alt="HTML">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/xml.svg" alt="XML">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/api.svg" alt="APIs">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/ethereum.svg" alt="Web3">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/jekyll.svg" alt="Jekyll">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/selenium.svg" alt="Selenium">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/ruby.svg" alt="Ruby">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/kotlin.svg" alt="Kotlin">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/flask.svg" alt="Flask">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/typescript.svg" alt="TypeScript">
      </td>
    </tr>
    <tr>
      <td colspan="2"><hr></td> <!-- Divider -->
    </tr>
    <tr>
      <td><strong>Applications And Tools</strong></td>
      <td>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftexcel.svg" alt="Excel">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftword.svg" alt="Word">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftpowerpoint.svg" alt="PowerPoint">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftoutlook.svg" alt="Outlook">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/microsoftteams.svg" alt="Teams">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/adobephotoshop.svg" alt="Adobe Photoshop">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/salesforce.svg" alt="Salesforce">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/servicenow.svg" alt="ServiceNow">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/zendesk.svg" alt="Zendesk">
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v13/icons/teamviewer.svg" alt="TeamViewer">
      </td>
    </tr>
  </tbody>
</table>
{% endraw %}
