---
layout: default
---
<link rel="stylesheet" type="text/css" href="/assets/p2e-table.css">
{{ title }}

<table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Description</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Splinterlands</td>
        <td>Splinterlands is a card-based online game. Players collect a deck of cards, which is then used to play in a battle against other players.</td>
        <td><a href="https://splinterlands.com?ref=palana">Link</a></td>
      </tr>
      <tr>
        <td>Rollercoin</td>
        <td>RollerCoin is an online crypto mining simulator game. The core idea of the game is distribution of block reward between players depending on their mining power - just like with real crypto mining.</td>
        <td><a href="https://rollercoin.com/?r=knwazje1">Link</a></td>
      </tr>
    </tbody>
  </table>