<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
{%- include head.html -%}
<body>
  <div class="container">
    {%- include header.html -%}
    <main>
      {{ title }}
      <div class="video">
        {% for video in site.data.videos %}
        <ul>
          <iframe width="100%" height="500" src="https://y.com.sb/embed/{{video.link}}"></iframe>
        </ul>
        {% endfor %}
      </div>
    </main>
    {%- include footer.html -%}
    </div>
  </body>
</html>